.image-slider {
  width: 100%;
  padding-bottom: rem-calc(40);

  &__splide {
    .splide__track {
      overflow: visible;
    }
  }

  &__slide {
    height: auto;
  }

  &__img {
    display: block;
    width: auto;
    height: rem-calc(240);
    max-width: none;
    object-fit: cover;

    @include mq(large-up) {
      height: rem-calc(375);
    }
  }
}
