@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham%20Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham%20Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("../fonts/zuume-regular.woff2") format("woff2"),
    url("../fonts/zuume-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zuume";
  src: url("../fonts/zuume-bold.woff2") format("woff2"),
    url("../fonts/zuume-bold.woff") format("woff"),
    url("../fonts/zuume-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Font Families
$body-font: "Gotham", sans-serif;
$heading-font: "Zuume", sans-serif;
$flourish-font: $heading-font;

$sans-serif-font: $body-font;
$serif-font: $heading-font;
$cursive-font: $heading-font;

$primary-font: $body-font;
$secondary-font: $body-font;

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
