// Colours
$white: #ffffff;
$black: #000000;

// Brand colours
$navy: #0f1a3d;
$blue: #1452de;
$yellow: #ffcc00;
$green: #006336;
$red: #bb133e;
$light-red: #bb133e;

// Colour Palette & Classes
// Same palette colours defined in theme.json
$palette-colors: (
  ("white", $white),
  ("black", $black),
  ("navy", $navy),
  ("blue", $blue),
  ("yellow", $yellow),
  ("green", $green),
  ("red", $red),
  ("light-red", $light-red)
);

.guten-block {
  position: relative;
  z-index: 1;

  &.has-background,
  .has-background {
    @each $color in $palette-colors {
      &.has-#{nth($color,1)}-background-color {
        background-color: nth($color, 2);
      }
    }
  }

  &.has-text-color,
  .has-text-color {
    @each $color in $palette-colors {
      &.has-#{nth($color,1)}-color {
        color: nth($color, 2) !important;

        a {
          color: nth($color, 2) !important;
          text-decoration: underline !important;

          &:hover {
            color: nth($color, 2) !important;
            text-decoration: none !important;
          }
        }
      }
    }
  }
}

$primary-colour: $white;
$secondary-colour: $black;
